.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  &__buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    button {
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border-radius: 10px;
      color: white;
    }
    .btn-yes {
      background-color: #2e7d32;
    }
    .btn-no {
      background-color: #e53935;
    }
  }
}

.favorites-list {
  position: relative;
  z-index: 1;
}
