@import "../../styles/utilis.scss";

.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 15px;
  max-width: 992px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  &__name {
    text-transform: capitalize;
    font-weight: 500;
  }
  &__value {
    user-select: none;
    font-weight: 500;
    color: #0070f3;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      cursor: pointer;
    }
  }
  @include lg {
    margin: 1rem auto;
  }
  &__selected {
    background-color: #2e7d32;
    color: white;
    div {
      color: white;
    }
  }
}
